@charset "UTF-8";


 #wrap {
 	font-family: 'Source Sans Pro', sans-serif;
 }
 
 #header-wrap {
	margin-top: 1%; 
	margin-right: 3%; 
	float: right;
 }
 
#main-wrap > table {
 	width: 89%;
 	text-align: center;
 }

#header-wrap > button.btn.btn-outline-secondary, button.btn.btn-info {
	padding: 4px 8px;
}

#header-wrap > h5 > button.btn.btn-info, button.btn.btn-warning, button:nth-child(3), button:nth-child(4) {
	padding: 4px 8px;
}

#main-wrap > form:nth-child(6) > div > button.btn.btn-outline-warning, button.btn.btn-outline-info {
	padding: 2.5px 5px;
	margin-right: 10px;
	float: right;
}

#main-wrap > form:nth-child(6) > div > button.btn.btn-outline-info {
	margin-right: 3%;
}

#main-wrap > form > div.boardInsert {
	text-align: right;
    margin-right: 45%;
}
#main-wrap > form > div.boardInsertContent {
	text-align: left;
    margin-left: 39%;
}
#main-wrap > form > div.boardInsertBtn {
	text-align: center;
	margin-right: 3%;
}
#boardInsertResetBtn, #boardInsertNewBtn {
	margin-right: 0% !important;
	float: none !important;
	padding: 3px 6px;
}
#boardInsertListBtn {
	padding: 3px 6px;
}
#main-wrap > form > div.boardView > span {
	text-align: left;
    margin-left: 3%;
    font-size: large
}
#main-wrap > form > div.boardViewContent {
	text-align: left;
	margin-left: 40%;
}
#main-wrap > form > div.boardViewContent > pre {
	width: 300px;
	border: 1px solid #000000;
	padding: 10px;
	padding-bottom: 30px;
}
#main-wrap > form > div.boardViewBtn {
	text-align: center;
	margin-left: 1%;
}

 a {
 	text-decoration: none;
 	color: black;
 }
#main-wrap > div.search {
 	font-size: small;
 	float: right;
 	margin-right: 3%;
 }
 
#main-wrap > table > thead {
	font-size: large;
}
#main-wrap > form:nth-child(6) > div > span {
	
 	text-align: left;
 	margin-left: 3%;
 	font-size: large;
 }
 
#main-wrap > div.boardList > form > div {
	text-align: left;
 	font-size: large;
}
 
#main-wrap > div.page {
	text-align: center;
}
#main-wrap > div.search {
 	padding: 2px 2px;
 }
#searchSelect {
	padding: 2px 2px;
}
 
#wrap > div.page-width.footer--bottom_block > div > small > div {
 	text-align: center;
 }
#wrap > div.page-width.footer--bottom_block > div > div:nth-child(1) > div {
 	text-align: center;
 }
#main-wrap > div.boardList > form > div {
 	float: right;
 	margin-right: 3%;
 }
 
 
 .welcome {
 	text-align: center;
 }
 .login {
 	text-align: cetner;
 }

 
 
 #main-wrap > div {
 	text-align: center;
 }
 
 

 .UpdateBtn {
 	margin-right:40%;
 }
 #f > div {
 	text-align: right;
 	margin-right:42% ;
 }
 
#main-wrap > div.findPw {
 	text-align: center;
 }

#main-wrap > div.joinForm {
	text-align: right;
 	margin-right:40% ;
}
#idCheckResult, #pwCheckResult, #pwConfirmResult, #emailCheckResult, #phoneCheckResult {
	text-align: left;
	padding-left: 79%;
	margin-right: 0%;
}
#updatePwCheckResult, #updatePwConfirmResult {
	padding-left: 44%;
	text-align: left !important;
}
#updatePwBtn2, #clearBtn {
	padding: 3px 8px !important;
}

#f > div.UpdateBtn {
	text-align: center;
	margin: auto;
}

#f > div.joinBtn {
	text-align: center;
	margin: auto;
}



#main-wrap > div.join > form > input[type=text] {
	padding: 1px 2px;
}
#main-wrap > div.join > form > input[type=password] {
	padding: 1px 2px;
}


#loginmId, #loginmPw, #findIdmEmail, #findPwmId, #findPwmPhone, #LeavemId, #LeavemPw {
	padding: 6px 20px;
}

#main-wrap > div > form > button.btn-outline-dark {
	padding: 6px 82px;
}

#mId, #mName, #mEmail, #mPhone, #mRegDate {
	text-align: left;
}
#updateInfoBtn, #updatePwBtn {
	padding: 2px 4px;
}
#joinBtn, #clearBtn {
	padding: 2px 6px;
}
